.header {
    display: flex;
    justify-content: center;
    padding: 20px 0;

    .site-title {
        font-weight: 600;
        font-size: 1.5em;
        color: #444;
        text-decoration: none;
        display: flex;
        gap: 10px;
        align-items: center;
        text-shadow: 1px 1px 4px rgba(0,0,0, 0.1);
        transition: color 0.2s;

        &:hover {
            color: #333;

            .logo > span {
                height: 30px;
            }
        }
    }
}